extends ../_template

block variables
  - var title = 'Home page'

block content
  div.page-pagination
    div.page-pagination__item.page-pagination__item--active
    div.page-pagination__item
    div.page-pagination__item
    div.page-pagination__item
    div.page-pagination__item
  header.main-header
    div.main-header__content
      div.main-header__top
        div.main-header__nav-button
        ul.main-header__contacts
          li +7 921 333 33 33
          li 
          li 
      div.main-header__logo
      div.main-header__descr Выполняем ремонт под ключ от 2000 рублей за квадратный метр*
      
      div.main-header__buttons-wrap
        a.main-header__button(href="#") Вызвать замерщика
        a.main-header__button(href="#") Рассчитать ремонт
      div.scroll-down 
    div.main-header__bg
  section.section.offers
    div.offers__part
      div.offers__title.offers__title--redColor только до 10 ноября
      div.offers__descr до конца акции осталось:
      ul.offers__time
        li.offers__time-item
          div.offers__time-count 3
          div.offers__time-title дня
        li.offers__time-item
          div.offers__time-count 14
          div.offers__time-title часов
        li.offers__time-item
          div.offers__time-count 5
          div.offers__time-title минут
        li.offers__time-item
          div.offers__time-count 39
          div.offers__time-title секунд
    div.offers__part
      div.offers__title Вызовите замерщика и получите скидку 20%!
      ul.offers__descr-list
        li.offers__descr-item 1. Заполните форму заявки
        li.offers__descr-item 2. Назначьте удобное время
        li.offers__descr-item 3. Получите скидку на ремонт
      a.main-header__button.main-header__button--redColor(href="#") Оформить заявку
  div.section.services
    div.offers__title.offers__title--bigSize Наши услуги
    ul.services__list
      li.servises__item
        div.services__icon
        div.services__title Устанавливаем сантехнику
        div.services__button-more Подробнее
      li.servises__item
        div.services__icon
        div.services__title Устанавливаем кондиционеры
        div.services__button-more Подробнее
      li.servises__item
        div.services__icon
        div.services__title Красим стены
        div.services__button-more Подробнее
      li.servises__item
        div.services__icon
        div.services__title Выравниваем стены
        div.services__button-more Подробнее
      li.servises__item
        div.services__icon
        div.services__title Перепланируем помещение
        div.services__button-more Подробнее
  div.section.addition
    div.offers__title.offers__title--bigSize А также ремонт любой сложности
  div.section.adv
    div.offers__title.offers__title--bigSize Плюсов много
  div.section.begin-repair
    div.offers__title.offers__title--bigSize С чего начать